name: Build and Publish image to DockerHub

on:
  workflow_dispatch:

jobs:
  publish_images:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build ./api/ -t muhammad09/devops-qr-code-api:latest

      - name: Push image to Docker Hub
        run: |
          docker push muhammad09/devops-qr-code-api:latest
